
@font-face
{
	font-family : "Wasted";
	src: url('Wasted/Wasted.ttf');
}

body
{
	background-color : #FFF000;
}

section
{
	border :2px solid black;
	margin-left : 28%;
	margin-right : 35%;
	margin-top : 10%;
}


h1
{
	font-family : Wasted;
	font-size : 250px;
	margin-left : 15%;
	margin-top : 5%;
	
}

h2
{
	
	margin-left : 20%;
	margin-bottom : 15%;
	margin-top : -5%;
	
}

h3
{
	font-family : Wasted;
	font-size : 80px;
	margin-left : 40%;
}


input#buttond{
	cursor:pointer;
	padding:1% 5%;
	background:black; 
	border:2px solid grey;
	font-family : Wasted;
	font-size : 25px;
	
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);

	color:yellow;
	font-size:20px;
	margin-left : 5%;
}

input#buttond:hover{
	background-color :#FFF000; 
	color : black;
	border : #FFF000;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}